:root {
   --color-black: #000000;
   --color-black-light: #333333;
   --color-white: #ffffff;
   --color-white-transparent: rgba(255,255,255,0.3);
   --background-color-blue-light: #81B3D2;
   --background-color-blue: #669EC0;
   --background-color-blue-extra: #5496BD;
   --background-color-grey: #EEEEEE;
   --background-color-grey-light: #F2F2F2;
   --background-color-grey-extra: #666666;
   --color-active-black: rgba(0,0,0,0.3);
   --color-active-brown: #766357;
   --background-color-brown: #604E43;
   --background-color-brown-extra: #503E33;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.page-body {
    background-color: var(--background-color-grey-light);
    min-width: 1200px;
  }

.container {
    text-align: center;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-height: 100vh;
    background-color: var(--color-white);
    margin: 0 auto;
    width: 1200px;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-black-light);
}

a {
    text-decoration: none;
}

.main-navigation {
    text-align: center;
}

.site-navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 0px;
    list-style-type: none;
}

.site-navigation li {
    width: 300px;
}

.site-navigation a {
    font-weight: bold;
    line-height: 26px;
    color: var(--color-black);   
}

.site-navigation a:hover {
    color: var(--background-color-blue-light);
}
.site-navigation a:active {
    color: var(--color-active-black);
}

.title-wrap h1 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--color-black);
}

.features-list {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0px;
}

.city {
    display: flex;
    flex-wrap: wrap;
}

.features h2 {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.features-list-second {
    display: flex;
    width: 1200px;
    list-style-type: none;
    padding-left: 0px;
    align-items: center;
}

.features-item-blue {
    color: var(--color-white);
    background-color: var(--background-color-blue-light);
    width: 400px;
    min-height: 256px;
}

.features-item-inner {
    width: 400px;
    min-height: 330px;
}

.bridge {
    display: flex;
    flex-direction: row-reverse;
}

.features-item-blue h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.features-item-inner h4 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--color-black);
}

.features-item {
    background-color: var(--background-color-grey);
    width: 400px;
    min-height: 256px;
}

.features-item h3 {
    font-weight: bold;
    font-size: 21px;
    color: var(--color-black);
}

.search {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: var(--color-black);
}

.search-info {
    font-size: 14px;
    color: var(--color-black-light);
    font-weight: normal;
}
.page-footer {
    display: flex;
    align-items: flex-start;
    text-align: center;
    min-height: 120px;
    width: 1200px;
}

.footer-social {
    width: 400px;
}

.footer-social ul { 
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    padding-left: 0px;
}

.footer-contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--color-black);
    width: 400px;
}

.social-button {
    padding-right: 5px;
}

.footer-contacts a {
    color: var(--color-black);  
}

.footer-copyright {
    line-height: 26px;
    color: var(--color-black);
}

.logo-footer {
    display: flex;
    align-items: flex-start;
    width: 400px;
}

.site-navigation .active {
    color: var(--color-active-brown);
}

.inner-body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-black-light);
}

.inner-container {
    text-align: left;
}

.result {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--color-black);
}

.list_hotels {
    display: flex;
    align-items: flex-start;
}

.item {
    display: flex;
    align-items: flex-start;
}

.photo_hotel {
    order: -1;
}

.item_sorting {
    display: flex;
    align-items: flex-start;
}

.item_sorting li {
    padding-right: 32px;
}

.sorting  {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-black); 
}

.sorting ul {
    list-style-type: none;
}

.sorting a {
    border-bottom: 1px dotted var(--background-color-blue-light);
    color: var(--color-active-black); 
}

.sorting .a-active {
    color: var(--background-color-blue-light);
    border-bottom: none;
}

.sorting a:hover {
    color: var(--background-color-blue-light);
}
.sorting a:active {
    color: var(--color-black);
    border-bottom: none;
}

.hotels h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--color-black);
}

.detail {
background-color: var(--background-color-blue-light);
color: var(--color-white);
font-weight: bold;
}

.detail:hover {
    background-color: var(--background-color-blue);
}

.detail:active {
    background-color: var(--background-color-blue-extra);
    color: var(--color-white-transparent);
}

.reserve {
    background-color: var(--color-active-brown);
    color: var(--color-white);
    font-weight: bold;
}

.reserve:hover {
    background-color: var(--background-color-brown);
}

.reserve:active {
    background-color: var(--background-color-brown-extra);
    color: var(--color-white-transparent);
}

.hotels-result {
    color: var(--color-black);
}

.hotels-result:hover {
    color: var(--background-color-blue-light);
}

.hotels-result:active {
    color: var(--color-active-black);
}

.rating {
    color: var(--background-color-grey-extra);
    background-color: var(--background-color-grey-light);
}
